*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

input {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 40px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: solid #808080;
  padding: 8px 16px;
}

input:hover {
  border-color: #000000;
  outline: none;
}

input:active {
  border-color: #808080;
  outline: none;
}

input::placeholder {
  color: #2e2f42;
}

button {
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto 32px;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  border: 1px solid #808080;
  border-radius: 0px;
  overflow: hidden;
  background: #fff;
  width: 360px;
  height: 200px;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info {
  padding: 4px 20px;
  display: flex;
  gap: 28px;
  align-items: center;
  font-size: 12px;
  background-color: #fff;
  width: 360px;
  height: 48px;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 40px;
}

.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.load-more {
  width: 125px;
  margin: 0 auto;
}
